@theme "/home/james/.local/share/rofi/themes/spotlight-dark.rasi"
configuration {
    font: "JetBrainsMono Nerd Font 12";
    width: 900;
}
//@theme "/home/james/.local/share/rofi/themes/Pop-Dark.rasi"
